.cardContainer {
  width: 210px;
  height: 270px;
  border: 0.5px solid #336397;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 25px;
  padding: 4px;
}

/* .cardContainer .imgContainer {
  width: 190px;
  height: 190px;
} */

.cardContainer img {
  /* display: block; */
  /* width: 187px; */
  /* height: 142px; */
  /* object-fit: contain; */
  /* margin-top: 1px; */
  border-radius: 7px;
  /* padding: 4px; */
}

.category-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  }

.cat-cards-p {
  border-radius: 3px;
  color: white;
  background-color: #4183c8;
  padding: 3px 6px 3px 6px;
  font-size: 11px;
}

.details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    margin: 10px 0 0 0;

}

 #cards-main-container {
   border: 2px solid green;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }