.home-event-item .actions-btn {
  display: flex;
  justify-content: space-between;
}

.actions-logged-user {
  display: flex;
}

.link-marker:hover {
  cursor: pointer;
}

.sectionCard {
  height: 80vh;
}
