.NavMain {
  background-color: #344855;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 70px;
  width: 100%;
  z-index: 6;
  position: fixed;
  top: 0;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain NavLink {
  color: white;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}
