.page.page-profile {
    padding: 2em;
}

.page.page-profile h1{
    text-align: center;
}

.profile-main-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.card-profile {
    border: 1px solid rgb(226, 226, 226);
    display: flex;
    border-radius: 8px;
    padding: 20px 30px 40px 30px;
    flex-direction: column;
    margin-bottom: 40px;
    width: 60vw;
}

.card-profile-content {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-profile-visu {
    /* border: 2px solid pink ; */
    margin-right: 20px;;
}

.profile-title-h1 {
    /* border: 1px solid yellow; */
    padding: 30px 0 15px 0;
    display: flex;
    justify-content: center;
}

.profile-wrap {
    /* border: 1px solid red; */
    width: 60vw;
}

.card-profile-content p {
    line-height: 1.6;
}

.card-profile-content span {
    font-size: 16px;
}

.accordion-container {
    margin: 40px;
    /* border: 2px blue solid; */
    display: flex;
    justify-content: center;
}

.container {
    /* border: 2px solid grey; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
}
.page-profile .ui.styled.accordion {
    width: 100%;
}

.page-profile .ui.accordion .active.content {
    margin: .5em 1em 1.5em;
}

#fixbug {
    /* border: 1px solid green; */
    display: flex;
    margin-top: 20px;
}

#welcome {
    padding-bottom: 30px;
}

.actions-btn {
    margin-top: 20px;
}

/* .button-profile {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
} */


/* #profile-table-container {
    border: 1px solid red;
    margin: 20px 80px 20px 80px;
} */