.singleUser-container {
    display: flex;
    /* border: 1px solid green; */
    margin-bottom: 50px;
    justify-content: space-between;

}

#main-global-singleuser {
    border: 1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-singleuser {
    display: flex;
    justify-content: center;
}

#singleUser-main {
    /* border: 1px solid red; */
    width: 580px;
    margin: 100px 0 100px 0;
}

#main-singleuser p {
    font-size: 16px;
    color: rgb(107, 107, 107);
}

span {
    font-weight: bold;
    color: black;
    font-size: 19px;
}

.description-singleUser {
    border: 1px solid rgb(181, 181, 181);
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0 40px 0;
}

#event-singleuser-container {
    display: flex;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#event-singleuser-name-descr {
    margin: 0 0 0 20px;
}

.event-description-singleuser {
    font-size: 12px;
}


.map-container-single-event {
    border: 2px solid yellow;
}